<div class="login-form">
  <mat-card>

    <mat-card-content>
      <img src="../../../../assets/PlayPerformanceLogo.jpeg" width="90" height="100">
      <h2>Faça seu Login</h2>
      <mat-form-field class="full-width-input" >
        <input matInput type="text" placeholder="Digite seu e-mail" required/>
      </mat-form-field>
      <mat-form-field class="full-width-input separator">
        <input matInput type="password" placeholder="Digite sua senha"/>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Entrar</button>
    </mat-card-content>
  </mat-card>
</div>
