.modal-form{
  padding:1rem 0;
  .full-width-input{
    width:100%;
  }
  .p50-width-input{
    width:46%;
  }
  .half-width-input{
    width:50%;
    margin-left:1rem;
  }
  .p30-width-input{
    width:31%;
  }
  .p70-width-input{
    width:65%;
    margin-left:1rem;
  }
}

