.login-form{
  padding: 2rem 2rem;
  mat-card{
    max-width:300px;
    margin: 1rem auto;
    text-align:center;
    height:280px;
  }
  .full-width-input, button{
    width:100%;
  }
  .separator{
    margin-bottom:2rem;
  }
}
